* {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  text-align: center;
}

.button {
  display: flex;
  justify-content: center;
  text-align: center;
}

#start-btn {
  display: block;
  position: relative;
  margin: 5px;
  padding: 10px;

  background-color: black;
  color: white;
  border-radius: .4em;
  border: none;

  font-size: 25px;
}

#start-btn:hover {
  background-color: purple;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 200px;
}

main ul li {
  list-style: none;
  background-color: black;
  color: white;
  margin: 2px 0;
  padding: 5px;
  border-radius: .4em;
  font-size: 20px;
  width: 250px;
}

main ul li:hover {
  background-color: purple;
}

.question-text {
  font-size: 20px;
}

.choices-list {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
}



#answer-btn {
  display: block;
  position: relative;
  border: none;
  background-color: black;
  color: white;
  border-radius: .4em;
  margin: 2px;
  padding: 5px 5px 5px 5px;
  font-size: 20px;
  width: 100%;
}


#answer-btn:hover {
  background-color: purple;
}
#countdown {
  display: flex;
  justify-content: center;
}